<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My Phone Book</title>

    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />

    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>

    <script src="../../Scripts/jquery-3.4.1.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>

    <script src="../Scripts/phoneBook.js"></script>
    <script src="../Scripts/ContactService.js" type="module"></script>
    <script src="../Scripts/ContactListController.js"></script>
    <script src="../Scripts/DetailsController.js"></script>
    <script src="../Scripts/EditController.js"></script>
</head>
    <body ng-app="phoneBook">
        <h2>My Phone Book</h2>
        <div ng-view></div>
    </body>
</html>