<div ng-controller="contactListController">
    <p *ngIf="">Loading data ...</p>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Mobile</th>
                <th>Work Telephone</th>
                <th>Date Created</th>
                <th>Date Modified</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in contacts">
                <td>{{contact.FirstName}}</td>
                <td>{{contact.LastName}}</td>
                <td>{{contact.Mobile}}</td>
                <td>{{contact.WorkTelephone}}</td>
                <td>{{contact.DateCreated}}</td>
                <td>{{contact.DateModified}}</td>
                <td>
                    <a href="#/details/{{contact.Id}}" class="btn btn-default btn-sm">Details</a>
                    <button class="btn btn-danger btn-sm" ng-click="delete(contact)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />

    <button class="btn btn-danger btn-sm" ng-click="create()">Add new contact</button>
    <div ng-include="'edit.html'"></div>


</div>