@import './@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';    
    
  
.demo-toolbar {
  display: flex;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;    
    width: 100%;
}

.demo-form {    
    min-width: 150px;    
    max-width: 500px;    
    width: 100%;    
}    
    
.demo-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    font-family: Roboto, sans-serif;    
}    
    
.mat-card {    
    max-width: 80%;    
    margin: 2em auto;    
    text-align: center;    
}    
    
.mat-toolbar-row {
  -o-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.done {    
    position: fixed;    
    bottom: 20px;    
    right: 20px;    
    color: white;    
}    
    
.content-center {    
    text-align: -webkit-center;    
}

